  
name: publish-package

on:
  release:
    types: [created]
jobs:
  build:
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    # Setup .npmrc file to publish to npm
    - uses: actions/setup-node@v2
      with:
        node-version: '18.x'
        registry-url: 'https://registry.npmjs.org'
        scope: '@react-native-seoul'
    - run: yarn
    - run: yarn validate
    - run: yarn build
    - name: 'NPM Identity'
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: |
        echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
        cat .npmrc
    - name: Publish Beta
      if: contains(github.ref, 'beta')
      run: npm publish --tag beta
    - name: Publish Alpha
      if: contains(github.ref, 'alpha')
      run: npm publish --tag alpha
    - name: Publish Latest
      if: !contains(github.ref, 'beta') && !contains(github.ref, 'alpha')
      run: npm publish
